// Asignaciones listado.
.row
    .col-lg-9.col-md-9.col-lg-offset-1.col-lg-offset-1
        h1 Listado de asignaciones
        
.row
    form.form-horizontal
        .col-lg-2.col-md-2.col-md-offset-1.col-lg-offset-1
            label(for="ga-cliente") Cliente
            select#ga-cliente.form-control(ng-model="asModels.proyecto.cliente"
            ng-options="cliente.nombre for cliente in combos.clientes track by cliente.id"
            ng-change="combos.buscarProyectos()")
                option(value="") Seleccione una opción
        
        .col-lg-2.col-md-2
            label(for="ga-proyecto") Proyecto
            select#ga-proyecto.form-control(ng-model="asModels.proyecto"
            ng-options="proyecto.nombre for proyecto in combos.proyectos track by proyecto.id")
                option(value="") {{proyectosFirstOpt}}
        
        .col-lg-2.col-md-2
            label(for="ga-persona") Persona
            select#ga-persona.form-control(ng-model="asModels.persona"
            ng-options="persona.nombre + ' ' + persona.primerApellido + ' ' + persona.segundoApellido for persona in combos.personas track by persona.id")
                option(value="") Seleccione una opción
        
        .col-lg-2.col-md-2
            label(for="ga-roles") Rol
            select#ga-roles.form-control(ng-model="asModels.rol"
            ng-options="rol.nombre for rol in combos.roles track by rol.id")
                option(value="") Seleccione una opción
        
        .col-lg-1.col-md-1
            a.btn.btn-primary.gt-btn(ng-click="buscar()") Buscar
            
.gp-info(ng-show="actionResult.status != ''")
    .alert.alert-success(ng-show="actionResult.status == 'ok' && mode != 'list'")
        p {{actionResult.okMsg}}
    .alert.alert-danger(ng-show="actionResult.status == 'ko'")
        p {{actionResult.koMsg}}
        p Error {{actionResult.errorCode}}: {{actionResult.errorMsg}}

// Resultado de la búsqueda
.row(ng-show="mostrarTabla")
    .col-lg-12.col-md-12
        .panel.panel-default
            .panel-heading Resultados de la búsqueda

            .panel-body(ng-if="resultados == ''")
                p No se han encontrado resultados
                p {{error}}
        
            table.table.table-striped(ng-if="resultados != ''")
                thead
                    tr
                        th Cliente
                        th Proyecto
                        th Persona
                        th Rol
                        th Fecha inicio
                        th Fecha fin
                        th
                        th
                tbody
                    tr(ng-repeat="row in pagina")
                        td {{row.proyecto.cliente.nombre}}
                        td {{row.proyecto.nombre}}
                        td {{row.persona.nombre}} {{row.persona.primerApellido}} {{row.persona.segundoApellido}}
                        td {{row.rol.nombre}}
                        td {{row.fechaInicio}}
                        td {{row.fechaFin}}
                        td 
                            a.btn.btn-warning(role="button", href="#/asignaciones/editar/{{row.id}}") Editar
                        td 
                            a.btn.btn-danger(role="button", ng-click="borrar(row.id)") Borrar
        uib-pagination.pagination-sm(ng-model='currentPage', total-items='resultados.length', items-per-page='numPerPage'
        ng-show='resultados.length > numPerPage')

        // Diálogo de confirmación.
        .modal.fade#deleteDialog(role="dialog")
            .modal-dialog
                .modal-content
                    .modal-header
                        button.close(type="button", data-dismiss="modal")
                            span &times;
                        h4.modal-title Eliminar asignación
                    .modal-body
                        p Vas a eliminar la asignación. ¿Estás seguro?
                    .modal-footer
                        button.btn.btn-default(type="button", data-dismiss="modal") Cancelar
                        button.btn.btn-danger(type="button", ng-click="confirmarBorrar()") Sí, bórrala
